.ship_display-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.ship_display-heading {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
}

h2 {
    text-decoration: underline;
}

img {
    max-width:90%;
}

.ship_display-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}